<div class = "widget shadow">
	<div class = "widget-head">
		<h3 class = "pull-left"><i class = "fa fa-calendar"></i> Calendar</h3>
		<div class = "clearfix"></div>
	</div>
	<div class = "widget-body">
		<!-- Calendar -->
		<div class="shadowed widget-calendar">
			<div id="widget-calendar"></div>
		</div>
	</div>
	<div class = "widget-foot"></div>
	<script>
		(function(){
			function updateCalendar(){
				$('#widget-calendar').fullCalendar({});
			}

			setInterval(function(){
				updateCalendar()
			}, 60 * 1000);

			updateCalendar();

		})();
	</script>
</div>